<igx-navbar class="navigation-bar">
  <div igxNavbarTitle>Contabilidad y Presupesto</div>
</igx-navbar>
<div class="column-layout column">
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Utilidades</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Información Programa</p>
      <p class="text">Interfase General</p>
      <p class="text">Definir Usuarios</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Crear</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Plan de Cuentas</p>
      <p class="text">Centro de Costo</p>
      <p class="text">Rubro Presupuesto</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Registrar</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Documentos</p>
      <p class="text">Resúmenes</p>
      <p class="text">Ajustes Fiscales</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Editar</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Una Cuenta</p>
      <p class="text">Grupo de Cuentas</p>
      <p class="text">Auxiliar Cuenta</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Opciones</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Actualizar Movimiento</p>
      <p class="text">Cierre Anual Automatico</p>
      <p class="text">Vincular Saldos del Año Anterior</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Causaciones Especiales</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Tabla de Afiliados / Propietarios</p>
      <p class="text">Modificar Cuotas o Tarifas</p>
      <p class="text">Parametrizar Documentos Especiales</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Informes</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Plan de Cuentas</p>
      <p class="text">Comprobantes Diarios</p>
      <p class="text">Movimiento por fecha</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
  <igx-expansion-panel class="expansion-panel">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>Terminar</igx-expansion-panel-title>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body class="body">
      <p class="text">Salir</p>
      <p class="text">Continuar</p>
    </igx-expansion-panel-body>
  </igx-expansion-panel>
</div>
<img src="https://img1.wsimg.com/isteam/ip/8d977b0f-e04b-4f29-9c23-1daf38db2c91/ARISTA.JPG/:/rs=h:202/qt=q:95" class="image" />
